<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">IRunes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Users/Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Users/Register">Register</a>
            </li>
        </ul>
    </div>
</nav>

<div id="line"></div>

<h1 id="heading">Register</h1>
<form method="post" action="/Users/Register" class="col-md-6">
    <div class="form-group">
        <div class="user-data">
            <label for="exampleInputEmail1">Username/Email</label>
            <input type="text" class="form-control" name="username" id="exampleInputEmail1" placeholder="Username...">
        </div>
        <div class="user-data">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password...">
        </div>
        <div class="user-data">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password...">
        </div>
        <div class="user-data">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="Email...">
        </div>
        <div class="submit-button">
            <input type="submit" value="Register" class="btn" />
        </div>
    </div>
</form>