<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>IRunes</h1>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/Users/Login">Login</a>
        </li>
        <li>
            <a href="/Users/Register">Register</a>
        </li>
    </ul>

    <hr />

    <h1>Register</h1>
    <form method="post" action="/Users/Register">
        <div>
            Username <input type="text" name="username" placeholder="Username..." />
        </div>
        <div>
            Password <input type="password" name="password" placeholder="Password..." />
        </div>
        <div>
            Confirm Password <input type="password" name="confirmPassword" placeholder="Confirm Password..." />
        </div>
        <div>
            Email <input type="text" name="email" placeholder="Email..." />
        </div>
        <div>
            <input type="submit" value="Register" />
        </div>
    </form>

    <hr />

    <h5>CopyRight &copy; Sanity Design Studios. All rights reserved.</h5>
</body>
</html>