<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">IRunes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Albums/All">Albums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Users/Logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div id="line"></div>

<div class="container-fluid">
    <div class="row">
        @Model.AlbumViewModel
        <div class="col-md-2"></div>
        <br />
        <div class="col-md-6">
            <h2 class="black-heading">Tracks</h2>
            @Model.TrackCollectionViewModel
        </div>
    </div>
</div>