<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">IRunes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="#navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Albums/All">Albums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Users/Logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div id="line"></div>

<div class="container-fluid">
    <h1 id="heading">Create Track</h1>
    <form method="post" action="/Tracks/Create?albumId=@Model.AlbumId" class="col-md-6">
        <div class="form-group">
            <div class="user-data">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Name...">
            </div>
            <div class="row">
                <div class="user-data col-md-6">
                    <label for="link">Link</label>
                    <input type="url" class="form-control" name="link" id="link" placeholder="Link...">
                </div>
                <div class="user-data col-md-6">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" name="price" step="0.01" min="0" id="price" placeholder="Price...">
                </div>
            </div>
            <br />
            <div id="line"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="submit-button">
                        <input type="submit" value="Create" class="btn" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="submit-button">
                        <a href="../Albums/Details?id=@Model.AlbumId" class="btn">Back To Album</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>