<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <h1>IRunes</h1>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/Albums/All">Albums</a>
        </li>
        <li>
            <a href="/Users/Logout">Logout</a>
        </li>
    </ul>

    <hr />

    <iframe src="@Model.Video"></iframe>
    <h3>Name: @Model.Name</h3>
    <h3>Price: $@Model.Price</h3>

    <hr />
    <a href="../Albums/Details?id=@Model.AlbumId">Back To Album</a>

    <hr />

    <h5>CopyRight &copy; Sanity Design Studios. All rights reserved.</h5>
</body>
</html>