<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1 id="heading">Login</h1>
    <form method="post" action="/Users/Login" class="col-md-6">
        <div class="form-group">
            <div class="user-data">
                <label for="exampleInputEmail1">Username/Email</label>
                <input type="text" class="form-control" name="username" id="exampleInputEmail1" placeholder="Username/Email">
            </div>
            <div class="user-data">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <div class="submit-button">
                <input type="submit" value="Login" class="btn text-md-center" />
            </div>
        </div>
    </form>
</body>
</html>