<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../Resources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../Resources/css/site-style.css" />
</head>
<body>

    @RenderBody

    <footer>
        CopyRight &copy; Sanity Design Studios. All rights reserved.
    </footer>
    <script src="../../Resources/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/jquery-3.3.1.min.js"></script>
    <script src="../../Resources/js/popper.min.js"></script>
</body>
</html>